{% extends 'main_app/base.html' %}
{% block content %}

<h1>Projects List</h1>

{% for project in projects %}
  <div class="card">
    <a href="{% url 'detail' project.id %}">
      <div class="card-content">
        <span class="card-title">{{ project.name }}</span>
        <p>{{ project.description }}</p>
        <ul>Technologies:
          {% for tech in project.technologies %}
          <li>- {{ tech }}</li>
          {% endfor %}
        </ul>
      </div>
    </a>
    <div class="card-action">
        <div class="center">
          <a href="{{ project.url }}" target="_blank">link</a>
          <a href="{% url 'project_update' project.id %}">Edit</a>
          <a href="{% url 'project_delete' project.id %}">Delete</a>
        </div>
    </div>
  </div>
{% endfor %}

{% endblock %}