{% extends 'main_app/base.html' %}
{% block content %}

<h1 class="center">Authors List</h1>
<nav>
  <div class="nav-wrapper">
    <form action="{% url 'author_search_results' %}" method="GET">
      <div class="input-field">
        <input name="q" placeholder="Search..." type="search" required>
        <i class="material-icons">X</i>
      </div>
    </form>
  </div>
</nav>
{% for author in author_list %}
  <div class="card">
    <a href="{% url 'author_detail' author.id %}">
      <div class="card-content">
        <span class="card-title">{{ author.name }}</span>
        <p>Github Username: {{ author.git_user }}</p>
        <p>Description: {{author.description}}</p>
      </div>
    </a>
    <div class="card-action">
        <div class="center">
          <a href="{% url 'author_update' author.id %}">Edit</a>
          <a href="{% url 'author_delete' author.id %}">Delete</a>
        </div>
    </div>
  </div>
{% endfor %}

{% endblock %}